*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body
{
    background-color: #E4E4D0;
}

.header--announcement
{
    text-align: center;
}

.title,.subtitle
{
    display: block !important;
}

.title
{
    font-size: 8.2em;
    font-style: italic;
    font-weight: 400;;
    text-align: center;
}

.subtitle
{
    text-align: center;
    font-size:2.6em;
}



.pink-frame{
    border: 25px solid #edb1f1;
}

.skills
{
    display: flex;
    justify-content: center;
}

.card-text
{
    font-size: 1.2em;
    color: white;
    font-weight: bolder;
}

.card-title
{
    font-size: 1.8em;
    font-weight: bolder;
    color: white;
}

.card-body
{
    background-color: #edb1f1;
}

.btn-primary
{
    width: 125px;
    background-color: white;
    border: none;
    border-radius: 55px;
    color: black;
    font-weight: bolder;
}

.btn-primary:hover
{
    background-color: black;
    color: white;
    transition: .6s;
}

.botonesContenedor
{
    text-align: center;
    margin: 3em;
}

.botones
{

    border: none;
    background-color: #edb1f1;
    padding: 10px;
    cursor: pointer;
    font-size: 1.9em;
    border-radius: 5%;
    margin: .5em;
    border: 1px solid black;
}

.title
{
    font-size: 2em;
    text-align: center;
    display: block;
}

.aleman
{
    width: 16em;
}

.contenedorMetodosDePago
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #FFC7EA;
}

.column
{
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.6em;
}

.icon
{
    font-size: 2em;
    margin-bottom: 5px;
}

.borde
{
    border-right: 1px solid #000;
}

.iframe
{
    height: 30em;
}
@media (max-width: 793px)
{
    .iframe
    {
        height: 20em;
    }

    .botones{
        margin: .2em;
        font-size: 1em;
    }

    .card-title{
        font-size: 1em;
    }
    .card-text
    {
        font-size: .6em;
    }
    .btn
    {
        font-size: 1em;
    }
}
